.cursor-pointer {
    cursor: pointer;
}

.text-justify {
  text-align: justify;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-dialog {
    min-height: 500px;
    display: flex;
    align-items: center;
}

.q-container {
  font-size: 6rem;
}

@media (max-width: 768px) {
  nav ul.fs-4 {
    font-size: 1rem !important;
  }

  .q-container {
    font-size: 5rem;
  }

  .about .px-4 {
    padding: 0 !important;
  }

  footer {
    text-align: center;
  }
}